# Android
# Build your Android project with Gradle.
# Add steps that test, sign, and distribute the APK, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/android

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: Gradle@3
  inputs:
    workingDirectory: ''
    jdkVersionOption: 1.17
    gradleWrapperFile: 'gradlew'
    gradleOptions: '-Xmx3072m'
    publishJUnitResults: false
    testResultsFiles: '**/TEST-*.xml'
    tasks: 'assembleDebug'

- task: PowerShell@2
  displayName: "Submit to zScan"
  inputs:
    targetType: 'inline'
    script:  |
      # Define the URL of the PowerShell script
      $scriptUrl = "https://github.com/Zimperium/zscan-plugin-ado/releases/download/v1.0.2/zScan.ps1"

      # Define the local path where the script will be saved
      $scriptPath = "$(Build.SourcesDirectory)\zScan.ps1"

      # Download the script
      Invoke-WebRequest -Uri $scriptUrl -OutFile $scriptPath

      # Execute the script
      & $scriptPath -server_url 'https://zc202.zimperium.com' -input_file '$(Build.SourcesDirectory)/app/build/outputs/apk/debug/*.apk' -client_id ${env:ZSCAN_CLIENT_ID} -secret ${env:ZSCAN_CLIENT_SECRET} -branch_name $(Build.SourceBranchName) -build_number $(Build.BuildNumber) -Debug

      Write-Output "Report written to: ${env:ZSCAN_REPORT_FILE}"
  env:
    ZSCAN_CLIENT_SECRET: $(ZSCAN_CLIENT_SECRET)

- task: PublishBuildArtifacts@1
  inputs:
    targetPath: $(Build.SourcesDirectory)/*.json
    ArtifactName: "zScan Report"